@font-face {
    font-family: akira;
    src: url(../fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}

@keyframes mudaCor {
    0%{
        color: var(--corSecundaria);
    }
    50%{
        color: rgb(59, 20, 82);
    }
    100%{
        color: rgb(197, 33, 47);
    }
}

:root{
    --corPrimaria : rgb(30, 41, 30);
    --corSecundaria : rgb(255, 255, 255);
    --pretoPersonalizado: rgb(15, 15, 15);
    --preto : rgb(22, 22, 22);
    --roxo  : rgb(243, 179, 232);
    --fontePrimaria : akira ;
    --fonteSecundaria : 'Roboto' ;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: var(--fonteSecundaria);
}
/* display, justify e align para centralizar a caixa*/
#page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d29da;
    background-image: linear-gradient(270deg, #0d29da 0%, #FF2525 37%, #050303 100%);

}
/* overflow: efeito*/
main{
    width: 70%;
    height: 80%;
    background-color: var(--pretoPersonalizado);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

#efeito , #formulario{
    width: 50%;
    height: 100%;
}

#efeito{
    background-image: url(../images/tela\ de\ login\ codigos.jpg_);
    background-size: cover;
}

#banner{
    width: 100%;
    height: 100%;
    background-color: var(--pretoPersonalizado);
    background-image: url(../images/tela\ de\ login\ codigos.jpg);
    background-size: 500px;
    background-size: cover;
}

h3{
    text-align: center;
    margin: 15px 0px;
    animation-name: mudaCor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px
}

input{
    width: 75%;
    padding: 8px;
    border: none;
    border: solid rgb(114, 33, 33);
    border-radius: 20px;
    gap:10px
}

label {
    color: var(--corSecundaria);
}

button{
    width: 50%;
    padding: 10px;
    box-shadow: 5px;
    border: none;
    border: solid rgb(114, 33, 33);
    border-radius: 20px;
    text-align: center;
    align-items: left;
    gap: 50px;
    color: var(--pretoPersonalizado);
    cursor: pointer;
}

a{
    color: #fdfdfd;
    gap: 10px;
}