@font-face {
    font-family: akira;
    src: url(../fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}

@keyframes mudaCor {
    0%{
        color: var(--preto);
    }
    50%{
        color: rgb(6, 124, 12);
    }
    100%{
        color: rgb(199, 135, 52);
    }
}

:root{
    --corPrimaria : rgb(30, 41, 30);
    --corSecundaria : rgb(255, 255, 255);
    --preto : rgb(0, 0, 0);
    --roxo  : rgb(243, 179, 232);
    --fontePrimaria : akira ;
    --fonteSecundaria : 'Roboto' ;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: var(--fonteSecundaria);
}
/* display, justify e align para centralizar a caixa*/
#page{
    width: 100%;
    height: 100vh;
    background-color: var(--corPrimaria);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* overflow: efeito*/
main{
    width: 70%;
    height: 80%;
    background-color: var(--corSecundaria);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

#efeito , #formulario{
    width: 50%;
    height: 100%;
}

#efeito{
    background-image: url(../images/41f967e7-0995-4314-a904-ad2021e2b1fc.jpg);
    background-size: cover;
}

#banner{
    width: 100%;
    height: 100%;
    background: rgb(68,16,16);
    background: linear-gradient(90deg, rgba(68,16,16,0.05599608007265411) 20%, rgba(246,244,236,1) 100%);
}

h3{
    text-align: center;
    margin: 15px 0px;
    animation-name: mudaCor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px
}

input{
    width: 75%;
    padding: 8px;
    border: none;
    border: solid rgb(224, 175, 85);
    border-radius: 20px;
    gap:10px
}

button{
    width: 50%;
    padding: 10px;
    box-shadow: 5px;
    border: none;
    border: solid rgb(224, 175, 85);
    border-radius: 20px;
    text-align: center;
    align-items: left;
    gap: 50px;
    color: green;
    cursor: pointer;
}
