@font-face {
    font-family: akira;
    src: url(../fonts/Akira\ Expanded\ Demo.otf);
}

*{   
    margin: 0%;
    padding: 0%;
    font-family:'RobotoRegular', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root{
    --corPrimaria  : #1530df;
    --corSecundaria : #4f1cc4;
    --pretoPersonalizado : rgb(5, 1, 14);
    --preto : #000000;
    --branco : rgb(255, 255, 255);
}
#page{
    width: 100%;
    height: 100vh;
    background-color: #182998;
    background-image: linear-gradient(144deg, #182998 12%, #aa0f0f 68%, #050303 91%);
}

#efeito{
    background-image: url(..);
}

#cabecalhoEsquerda , #cabecalhoDireita{
    display: flex;
    text-align: center;
    background-color: var(--corPrimaria);
}

header a{
    font-family: akira;
    color: var(--branco);
    text-align: center;
    margin: 25px 15px;
    text-decoration: none;
}

header h2{
    margin: auto;
    padding: auto;
    font-family: akira;
    color: var(--branco);
    text-align: center;
}

header , footer{
    width: 100%;
    height: 75px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: var(--branco);
    background-color: var(--corPrimaria);
}


h2 , h3{
    text-align: center;
    margin: 25px 0px;
    color: var(--branco);
}

main h3{
    color: var(--preto);
}

main{
    width: 70%;
    height: 80%;
    background-color: var(--corSecundaria);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}


#banner{
    background-color: var(--branco);
    background-image: url(../images/tela\ de\ login\ codigos.jpg);
    background-size: 500px;
}